body {
    font-family: 'Familjen Grotesk',
        sans-serif;
    background: #fff;
    /* background: radial-gradient(circle farthest-corner at 10% 20%, rgba(97, 186, 255, 1) 0%, rgba(166, 239, 253, 1) 90.1%) no-repeat center fixed; */

}

#carouselIndicatiors .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 50vh;
}


.card {
    box-shadow: 4rem;
}
